@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* 
https://colorhunt.co/palette/f8ecd1deb6abac7d8885586f
color palate
*/

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8ECD1;
    max-width: 100vw;
    min-height: 100vh;
}


.header {
    font-family: 'Oxanium', cursive;
    height: 6em;
    background-color: #DEB6AB;
    padding-top:2em;
    font-size:1.3em;
    width: 100vw;
    margin-bottom: 2em;
}

.intro {
    margin: 2em 0;
    font-size:1.3em;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
}

.remove {
    display: none;
    border:1px solid red;
}

.score p{
    padding: .5em; 
    font-size: 1.3em;
 } 


.score {
    display: flex;

}

.weapon-choice button {
    margin: 1.5em;
    padding: 1em;
    background-color: #DEB6AB;
    font-size: 1.3em;
    font-family: inherit;
    border:3px solid #85586F;
    border-radius: .5em;
}

.weapon-choice button:hover {
    transform: scale(1.1);
}

/* 
.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    background-color: #F8ECD1;
    height: 200px;
    width: 300px;

} */
.result {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.box button {
    padding:1em;
    background-color:#AC7D88;
    border: 1px solid #85586F;
    color:white;
    border-radius: .5em;
    font-size: 1.1em;
    
}


