@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* 
https://colorhunt.co/palette/f8ecd1deb6abac7d8885586f
color palate
*/

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8ECD1;
}


.header {
    font-family: 'Oxanium', cursive;
    height: 6em;
    background-color: #DEB6AB;
    padding-top:2em;
    font-size:1.7em;
    width: 100vw;
}

.battle-number h2 {
    margin-top:2em;
    font-size: 1.5em;
    font-weight: inherit;
}

.battle-number button {
    margin:1em;
    height: 4em;
    width: 4em;
    background-color: #85586F;
    background-color: #DEB6AB;
    background-color: #AC7D88;
    border-radius: .5em;
    cursor: pointer;
     border:2px solid #85586F;
}

.battle-number button:hover {
    transform: scale(1.1);
}

.battle-number button:focus {
    background-color: #DEB6AB;
    border: 2px solid #85586F;  
}
.intro {
    margin: 2em 0;
    font-size:1.3em;
}

.remove1 {
    display: none;
    border:1px solid red;
}

/* .score {
    border:3px solid #AC7D88;
    height: 7em;
    width: 10em;
}

.flex-score {
    display: flex;
}

.player {
    border-right: 2px solid #85586F;
}
*/
.score p{
    padding: .5em; 
    font-size: 1.3em;
 } 


.score {
    display: flex;

}

.weapon-choice button {
    margin: 1.5em;
    padding: 2em;
    background-color: #DEB6AB;
    font-size: 1.3em;
    font-family: inherit;
    border:3px solid #85586F;
    border-radius: .5em;
}

.weapon-choice button:hover {
    transform: scale(1.1);
}


.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    background-color: #F8ECD1;
    height: 200px;
    width: 300px;

}
.result {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.box button {
    padding:1em;
    background-color:#AC7D88;
    border: 1px solid #85586F;
    color:white;
    border-radius: .5em;
    font-size: 1.1em;
    
}


